<html>
  <head>
    <style>
      #monitor-container {
        width: 500px;
        height: 500px;
      }
      .mySelected {
        background-color: blue;
      }
      .notSelected {
        background-color: red;
      }
    </style>
    <script type="module" src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  </head>
  <body>
    <div id="monitor-container"></div>
    <div id="controls-container"></div>
  </body>
  <script type="module" src="{{ url_for('static', filename='controller.js') }}"></script>
</html>