<!DOCTYPE html>
<html>
<head>

</head>
<body>
	<canvas id="myCanvas"></canvas>
	<span></span>
	<button id="rb">R</button>
	<button id="gb">G</button>
	<button id="bb">B</button>
	<button id="mod">Mod</button>
	<select id="waveSelect">
		<option>saw</option>
		<option>triangle</option>
		<option>rand</option>
	</select>
	<script type="text/javascript" src="{{ url_for('static', filename='pixel_synth.js') }}"></script>
	<script type="text/javascript" src="../static/pixel_synth.js"></script>
</body>
</html>